body {
  margin: 0;
  font: 12px 'Microsoft YaHei';
  color: #141414;
  /*width: 1060px;*/
  min-width: 830px;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.bgcolor-blue {
  background: #1491ff;
}
.font-blue {
  color: #1491ff;
}
.bgcolor-green {
  background: #00b316;
}
.font-green {
  color: #00b316;
}
.bgcolor-red {
  background: #ff542c;
}
.font-red {
  background: #ff542c;
}
.bgcolor-orange {
  background: #f19900;
}
.font-orange {
  background: #f19900;
}
.bgcolor-lightgreen {
  background: #6accd5;
}
.clear {
  clear: both;
  content: "";
  display: block;
}
.have-data {
  display: none;
}
.have-data .bt-panel {
  background: #f2f3f5;
  line-height: 24px;
  position: relative;
}
.have-data .bt-panel .btn {
  cursor: pointer;
  background: #54add3;
  padding: 0px 14px;
  height: 24px;
  margin-right: 4px;
  border-radius: 2px;
  color: #fff;
  border: none;
  font: 14px 'Microsoft YaHei';
}
.have-data .bt-panel .more-bt {
  display: inline-block;
}
.have-data .bt-panel .more-bt input {
  cursor: pointer;
  padding: 0px 14px;
  height: 24px;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  color: #fff;
  border: none;
  font: 14px 'Microsoft YaHei';
  background: #91a5b3;
}
.have-data .bt-panel .more-down {
  height: 24px;
  width: 24px;
  line-height: 24px;
  border: none;
  background: #b2c1c9;
  display: inline-block;
  vertical-align: middle;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  margin-top: -4px;
  position: relative;
  cursor: pointer;
}
.have-data .bt-panel .more-down > i {
  position: absolute;
  border: solid;
  border-color: #fff transparent transparent transparent;
  border-width: 5px;
  top: 10px;
  left: 7px;
}
.have-data .bt-panel .right {
  margin-right: 10px;
  float: right;
}
.have-data .bt-panel .hidden-buttons {
  position: absolute;
  z-index: 1000;
  background: #fff;
  border: 1px solid #d4d9e1;
  left: 370px;
  padding: 0 10px;
}
.have-data .bt-panel .hidden-buttons li {
  border-bottom: 1px solid #d4d9e1;
  cursor: pointer;
}
.have-data .bt-panel .hidden-buttons li:hover {
  background: darkgray;
}
.have-data .bt-panel .hidden-buttons-imp-exp {
  position: absolute;
  z-index: 1000;
  background: #fff;
  border: 1px solid #d4d9e1;
  left: 444px;
  top: 150px;
  padding: 0 10px;
}
.have-data .bt-panel .hidden-buttons-imp-exp li {
  border-bottom: 1px solid #d4d9e1;
  cursor: pointer;
}
.have-data .bt-panel .hidden-buttons-imp-exp li:hover {
  background: darkgray;
}
.have-data .bt-panel .hidden-panel {
  display: none;
}
.have-data .bt-panel-fixed {
  position: fixed;
  top: 0;
  width: 1050px;
  z-index: 2000;
}
.have-data .order-list2 {
  position: relative;
}
.have-data .order-list2 .order-group-2-0 {
  top: 40px;
}
.have-data .order-list2 .order-group-2-1 {
  top: 90px;
}
.have-data .order-list2 .order-group-2-2 {
  top: 140px;
}
.have-data .order-list2 .order-group-2-3 {
  top: 190px;
}
.have-data .order-list2 .order-group-2-4 {
  top: 240px;
}
.have-data .order-list2 .order-group-2-5 {
  top: 290px;
}
.have-data .order-list2 .order-group-2-6 {
  top: 340px;
}
.have-data .order-list2 .order-group-2-7 {
  top: 390px;
}
.have-data .order-list2 .order-group-2-8 {
  top: 440px;
}
.have-data .order-list2 .order-group-2-9 {
  top: 490px;
}
.have-data .order-list2 .order-group-2-10 {
  top: 540px;
}
.have-data .order-list2 .order-group-2-11 {
  top: 590px;
}
.have-data .order-list2 .order-group-2-12 {
  top: 640px;
}
.have-data .order-list2 .order-group-2-13 {
  top: 690px;
}
.have-data .order-list2 .order-group-2-14 {
  top: 740px;
}
.have-data .order-list2 .order-group-2-15 {
  top: 790px;
}
.have-data .order-list2 .order-group-2-16 {
  top: 840px;
}
.have-data .order-list2 .order-group-2-17 {
  top: 890px;
}
.have-data .order-list2 .order-group-2-18 {
  top: 940px;
}
.have-data .order-list2 .order-group-2-19 {
  top: 990px;
}
.have-data .order-list2 .order-group-2-20 {
  top: 1040px;
}
.have-data .order-list2 .order-item-0 {
  margin-top: 112px;
}
.have-data .order-list2 .order-item-1 {
  margin-top: 224px;
}
.have-data .order-list2 .order-item-2 {
  margin-top: 336px;
}
.have-data .order-list2 .order-item-3 {
  margin-top: 448px;
}
.have-data .order-list2 .order-item-4 {
  margin-top: 560px;
}
.have-data .order-list2 .order-item-5 {
  margin-top: 672px;
}
.have-data .order-list2 .order-item-6 {
  margin-top: 784px;
}
.have-data .order-list2 .order-item-7 {
  margin-top: 896px;
}
.have-data .order-list2 .order-item-8 {
  margin-top: 1008px;
}
.have-data .order-list2 .order-item-9 {
  margin-top: 1120px;
}
.have-data .order-list2 .order-item-10 {
  margin-top: 1232px;
}
.have-data .order-list2 .order-item-11 {
  margin-top: 1344px;
}
.have-data .order-list2 .order-item-12 {
  margin-top: 1456px;
}
.have-data .order-list2 .order-item-13 {
  margin-top: 1568px;
}
.have-data .order-list2 .order-item-14 {
  margin-top: 1680px;
}
.have-data .order-list2 .order-item-15 {
  margin-top: 1792px;
}
.have-data .order-list2 .order-item-16 {
  margin-top: 1904px;
}
.have-data .order-list2 .order-item-17 {
  margin-top: 2016px;
}
.have-data .order-list2 .order-item-18 {
  margin-top: 2128px;
}
.have-data .order-list2 .order-item-19 {
  margin-top: 2240px;
}
.have-data .order-list2 .order-item-20 {
  margin-top: 2352px;
}
.have-data .order-list2 .order-item-21 {
  margin-top: 2464px;
}
.have-data .order-list2 .order-item-22 {
  margin-top: 2576px;
}
.have-data .order-list2 .order-item-23 {
  margin-top: 2688px;
}
.have-data .order-list2 .order-item-24 {
  margin-top: 2800px;
}
.have-data .order-list2 .order-item-25 {
  margin-top: 2912px;
}
.have-data .order-list2 .order-item-26 {
  margin-top: 3024px;
}
.have-data .order-list2 .order-item-27 {
  margin-top: 3136px;
}
.have-data .order-list2 .order-item-28 {
  margin-top: 3248px;
}
.have-data .order-list2 .order-item-29 {
  margin-top: 3360px;
}
.have-data .order-list2 .order-item-30 {
  margin-top: 3472px;
}
.have-data .order-list2 .order-item-31 {
  margin-top: 3584px;
}
.have-data .order-list2 .order-item-32 {
  margin-top: 3696px;
}
.have-data .order-list2 .order-item-33 {
  margin-top: 3808px;
}
.have-data .order-list2 .order-item-34 {
  margin-top: 3920px;
}
.have-data .order-list2 .order-item-35 {
  margin-top: 4032px;
}
.have-data .order-list2 .order-item-36 {
  margin-top: 4144px;
}
.have-data .order-list2 .order-item-37 {
  margin-top: 4256px;
}
.have-data .order-list2 .order-item-38 {
  margin-top: 4368px;
}
.have-data .order-list2 .order-item-39 {
  margin-top: 4480px;
}
.have-data .order-list2 .order-item-40 {
  margin-top: 4592px;
}
.have-data .order-list2 .buyer-group-2-0 {
  top: 40px;
}
.have-data .order-list2 .buyer-group-2-1 {
  top: 90px;
}
.have-data .order-list2 .buyer-group-2-2 {
  top: 140px;
}
.have-data .order-list2 .buyer-group-2-3 {
  top: 190px;
}
.have-data .order-list2 .buyer-group-2-4 {
  top: 240px;
}
.have-data .order-list2 .buyer-group-2-5 {
  top: 290px;
}
.have-data .order-list2 .buyer-group-2-6 {
  top: 340px;
}
.have-data .order-list2 .buyer-group-2-7 {
  top: 390px;
}
.have-data .order-list2 .buyer-group-2-8 {
  top: 440px;
}
.have-data .order-list2 .buyer-group-2-9 {
  top: 490px;
}
.have-data .order-list2 .buyer-group-2-10 {
  top: 540px;
}
.have-data .order-list2 .buyer-group-2-11 {
  top: 590px;
}
.have-data .order-list2 .buyer-group-2-12 {
  top: 640px;
}
.have-data .order-list2 .buyer-group-2-13 {
  top: 690px;
}
.have-data .order-list2 .buyer-group-2-14 {
  top: 740px;
}
.have-data .order-list2 .buyer-group-2-15 {
  top: 790px;
}
.have-data .order-list2 .buyer-group-2-16 {
  top: 840px;
}
.have-data .order-list2 .buyer-group-2-17 {
  top: 890px;
}
.have-data .order-list2 .buyer-group-2-18 {
  top: 940px;
}
.have-data .order-list2 .buyer-group-2-19 {
  top: 990px;
}
.have-data .order-list2 .buyer-group-2-20 {
  top: 1040px;
}
.have-data .order-list2 .buyer-item-0 {
  margin-top: 0px;
}
.have-data .order-list2 .buyer-item-1 {
  margin-top: 112px;
}
.have-data .order-list2 .buyer-item-2 {
  margin-top: 224px;
}
.have-data .order-list2 .buyer-item-3 {
  margin-top: 336px;
}
.have-data .order-list2 .buyer-item-4 {
  margin-top: 448px;
}
.have-data .order-list2 .buyer-item-5 {
  margin-top: 560px;
}
.have-data .order-list2 .buyer-item-6 {
  margin-top: 672px;
}
.have-data .order-list2 .buyer-item-7 {
  margin-top: 784px;
}
.have-data .order-list2 .buyer-item-8 {
  margin-top: 896px;
}
.have-data .order-list2 .buyer-item-9 {
  margin-top: 1008px;
}
.have-data .order-list2 .buyer-item-10 {
  margin-top: 1120px;
}
.have-data .order-list2 .buyer-item-11 {
  margin-top: 1232px;
}
.have-data .order-list2 .buyer-item-12 {
  margin-top: 1344px;
}
.have-data .order-list2 .buyer-item-13 {
  margin-top: 1456px;
}
.have-data .order-list2 .buyer-item-14 {
  margin-top: 1568px;
}
.have-data .order-list2 .buyer-item-15 {
  margin-top: 1680px;
}
.have-data .order-list2 .buyer-item-16 {
  margin-top: 1792px;
}
.have-data .order-list2 .buyer-item-17 {
  margin-top: 1904px;
}
.have-data .order-list2 .buyer-item-18 {
  margin-top: 2016px;
}
.have-data .order-list2 .buyer-item-19 {
  margin-top: 2128px;
}
.have-data .order-list2 .buyer-item-20 {
  margin-top: 2240px;
}
.have-data .order-list2 .buyer-item-21 {
  margin-top: 2352px;
}
.have-data .order-list2 .buyer-item-22 {
  margin-top: 2464px;
}
.have-data .order-list2 .buyer-item-23 {
  margin-top: 2576px;
}
.have-data .order-list2 .buyer-item-24 {
  margin-top: 2688px;
}
.have-data .order-list2 .buyer-item-25 {
  margin-top: 2800px;
}
.have-data .order-list2 .buyer-item-26 {
  margin-top: 2912px;
}
.have-data .order-list2 .buyer-item-27 {
  margin-top: 3024px;
}
.have-data .order-list2 .buyer-item-28 {
  margin-top: 3136px;
}
.have-data .order-list2 .buyer-item-29 {
  margin-top: 3248px;
}
.have-data .order-list2 .buyer-item-30 {
  margin-top: 3360px;
}
.have-data .order-list2 .buyer-item-31 {
  margin-top: 3472px;
}
.have-data .order-list2 .buyer-item-32 {
  margin-top: 3584px;
}
.have-data .order-list2 .buyer-item-33 {
  margin-top: 3696px;
}
.have-data .order-list2 .buyer-item-34 {
  margin-top: 3808px;
}
.have-data .order-list2 .buyer-item-35 {
  margin-top: 3920px;
}
.have-data .order-list2 .buyer-item-36 {
  margin-top: 4032px;
}
.have-data .order-list2 .buyer-item-37 {
  margin-top: 4144px;
}
.have-data .order-list2 .buyer-item-38 {
  margin-top: 4256px;
}
.have-data .order-list2 .buyer-item-39 {
  margin-top: 4368px;
}
.have-data .order-list2 .buyer-item-40 {
  margin-top: 4480px;
}
.have-data .order-list2 table {
  text-align: center;
  vertical-align: top;
  border-collapse: separate;
  width: 100%;
}
.have-data .order-list2 table .thead-fixed {
  position: fixed;
  top: 40px;
  z-index: 2000;
  width: 1060px;
  background: #fff;
}
.have-data .order-list2 table td {
  vertical-align: top;
}
.have-data .order-list2 table thead .item-title {
  color: #838383;
  height: 32px;
  line-height: 32px;
  text-align: center;
}
.have-data .order-list2 table thead .item-title .check-all {
  padding-left: 16px;
  float: left;
}
.have-data .order-list2 table thead .checkbox-all {
  background: url(img/icon-order.png) no-repeat 0px -80px;
  height: 14px;
  padding-left: 16px;
  margin-top: 10px;
  float: left;
  display: block;
  cursor: pointer;
}
.have-data .order-list2 table thead .checkbox-all-selected {
  background: url(img/icon-order.png) no-repeat 0px -94px;
}
.have-data .order-list2 table .no-data {
  text-align: center;
}
.have-data .order-list2 table .no-data td {
  border-top: 1px solid #d4d9e1;
}
.have-data .order-list2 table .no-data td .warm-text {
  padding: 5px 50px;
  line-height: 68px;
  background: #f0ad4e;
  color: #fff;
  border-radius: 5px;
}
.have-data .order-list2 table tbody .order-title {
  padding: 0 16px;
  background: #ecedf1;
  line-height: 39px;
  text-align: left;
  /*&:before {
                        float: left;
                        background: red;
                        width: 6px;
                        content: '|';
                        color: red;
                    }*/
}
.have-data .order-list2 table tbody .order-title .list-tabs {
  margin-right: 20px;
}
.have-data .order-list2 table tbody .order-title .list-tabs a {
  color: #282828;
  text-decoration: none;
}
.have-data .order-list2 table tbody .order-title .list-tabs a:hover {
  text-decoration: underline;
  color: #008d84;
}
.have-data .order-list2 table tbody .order-title .hign-light {
  color: #ff3f13;
}
.have-data .order-list2 table tbody .order-title:after {
  clear: both;
  content: "";
  display: block;
}
.have-data .order-list2 table tbody .order-title .before-tr {
  float: left;
  background: #72c5d8;
  width: 6px;
}
.have-data .order-list2 table tbody .order-title .checkbox-item {
  background: url(img/icon-order.png) no-repeat 0px -80px;
  height: 14px;
  padding-left: 16px;
  margin-top: 14px;
  margin-left: 10px;
  float: left;
  display: block;
  cursor: pointer;
}
.have-data .order-list2 table tbody .order-title .checkbox-item-selected {
  background: url(img/icon-order.png) no-repeat 0px -94px;
}
.have-data .order-list2 table tbody .order-title .icon {
  margin-right: 5px;
  /*float: left;*/
  width: 14px;
  color: #fff;
  padding: 0 2px;
  line-height: 16px;
}
.have-data .order-list2 table tbody .order-title .icon .icon-flag {
  background: url(img/icon-order.png) no-repeat 0px -123px;
  height: 16px;
  padding-left: 18px;
  margin-left: 10px;
  /*display: block;*/
}
.have-data .order-list2 table tbody .order-title .icon .icon-star {
  background: url(img/allbgs.png) no-repeat 0px -17px;
  height: 19px;
  padding-left: 21px;
  margin-left: 10px;
  /*display: block;*/
}
.have-data .order-list2 table tbody .order-title .icon:hover .hover-panel {
  display: block;
}
.have-data .order-list2 table tbody .good-item td {
  padding-left: 16px;
  text-align: left;
}
.have-data .order-list2 table tbody .good-item td:nth-child(2) {
  padding-left: 0;
}
.have-data .order-list2 table tbody .good-item .good-img {
  width: 88px;
  height: 88px;
}
.have-data .order-list2 table tbody .good-item .good-img img {
  width: 88px;
  height: 88px;
}
.have-data .order-list2 table tbody .good-item .merge-cols {
  border-right: 1px solid #d4d9e1;
}
.have-data .order-list2 table tbody .good-item .merge-cols td {
  padding: 0px;
}
.have-data .order-list2 table tbody .good-item .merge-cols td:first-child {
  padding-left: 16px;
}
.have-data .order-list2 table tbody .good-item .info-detail {
  text-align: left;
}
.have-data .order-list2 table tbody .good-item .info-detail .good-name {
  height: 40px;
  max-height: 34px;
  /*min-width: 200px;*/
  overflow: hidden;
  margin-bottom: 6px;
}
.have-data .order-list2 table tbody .good-item .goods-info .goods-size {
  font-size: 12px;
  color: #b7b7b7;
  height: 19px;
  max-height: 19px;
  overflow: hidden;
  margin-bottom: 9px;
}
.have-data .order-list2 table tbody .good-item .goods-info .goods-size > span {
  margin-left: 15px;
}
.have-data .order-list2 table tbody .good-item .goods-info .goods-size > span:nth-child(1) {
  margin-left: 0;
}
.have-data .order-list2 table tbody .good-item .goods-info .gift-icon {
  background: #00af0c;
}
.have-data .order-list2 table tbody .good-item .goods-info .lack-icon {
  background: #ff7f4d;
}
.have-data .order-list2 table tbody .good-item .goods-info .return-icon {
  background: #ff4242;
}
.have-data .order-list2 table tbody .good-item .goods-info .icon {
  margin-right: 5px;
  float: left;
  width: 14px;
  color: #fff;
  padding: 0 2px;
  line-height: 16px;
  border-radius: 2px;
}
.have-data .order-list2 table tbody .good-item .goods-info .icon .icon-flag {
  background: url(img/icon-order.png) no-repeat 0px -123px;
  height: 16px;
  padding-left: 18px;
  display: block;
}
.have-data .order-list2 table tbody .good-item .goods-info .icon:hover .hover-panel {
  display: block;
}
.have-data .order-list2 table tbody .good-item .good-price {
  /*font-weight: bold;*/
  width: 80px;
  text-align: center;
}
.have-data .order-list2 table tbody .good-item .good-price span {
  display: block;
}
.have-data .order-list2 table tbody .good-item .good-count {
  width: 70px;
  position: relative;
  text-align: center;
  /*border-right: 1px solid #d4d9e1;*/
}
.have-data .order-list2 table tbody .good-item .good-count .modify-area {
  position: absolute;
  width: 80px;
  height: 80px;
  right: 0;
  top: 0;
}
.have-data .order-list2 table tbody .good-item .good-count .modify-area .modify-bt-out {
  position: absolute;
  right: 0;
  color: #fff;
  cursor: pointer;
  display: none;
}
.have-data .order-list2 table tbody .good-item .good-count .modify-area .modify-bt-out .icon-modify {
  background: url(img/icon-order.png) no-repeat 0px -174px;
  height: 20px;
  padding-left: 20px;
  display: block;
}
.have-data .order-list2 table tbody .good-item .good-count .modify-area .modify-bt-in {
  position: absolute;
  right: 0;
  color: #fff;
  line-height: 20px;
  background: #ff5050;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
  display: none;
}
.have-data .order-list2 table tbody .good-item .good-count .modify-area:hover .modify-bt-in {
  display: block;
}
.have-data .order-list2 table tbody .good-item .good-count .modify-area:hover .modify-bt-out {
  display: none;
}
.have-data .order-list2 table tbody .good-item .buyer-info {
  width: 23%;
  position: relative;
  border-right: 1px solid #d4d9e1;
  line-height: 23px;
  /*border-top: 1px solid #d4d9e1;
                        border-bottom: 1px solid #d4d9e1;*/
}
.have-data .order-list2 table tbody .good-item .buyer-info .buyer-info-container {
  background: #fff;
  border: 1px solid transparent;
  min-height: 100px;
  padding-right: 16px;
  /*padding-top: 10px;
                            padding-left: 10px;
                            padding-right: 5px;*/
  z-index: 1200;
}
.have-data .order-list2 table tbody .good-item .buyer-info .icon {
  margin-right: 5px;
  width: 14px;
  color: #fff;
  padding: 0 2px;
  line-height: 16px;
  margin-top: 4px;
  float: left;
  border-radius: 2px;
}
.have-data .order-list2 table tbody .good-item .buyer-info .no-icon {
  background: #aa9c9a;
}
.have-data .order-list2 table tbody .good-item .buyer-info .over-icon {
  background: #b94d45;
}
.have-data .order-list2 table tbody .good-item .buyer-info .buyer-name {
  color: #1491ff;
}
.have-data .order-list2 table tbody .good-item .buyer-info .logistics-company {
  float: left;
}
.have-data .order-list2 table tbody .good-item .buyer-info .courier-name {
  margin-right: 5px;
  color: #fff;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 2px;
  line-height: 16px;
  margin-top: 4px;
  float: left;
}
.have-data .order-list2 table tbody .good-item .buyer-info .modify-area {
  position: absolute;
  width: 80px;
  height: 80px;
  right: 0;
  top: 0;
}
.have-data .order-list2 table tbody .good-item .buyer-info .modify-area .modify-bt-out {
  position: absolute;
  right: 0;
  color: #fff;
  cursor: pointer;
  display: none;
}
.have-data .order-list2 table tbody .good-item .buyer-info .modify-area .modify-bt-out .icon-modify {
  background: url(img/icon-order.png) no-repeat 0px -174px;
  height: 20px;
  padding-left: 20px;
  display: block;
}
.have-data .order-list2 table tbody .good-item .buyer-info .modify-area .modify-bt-in {
  position: absolute;
  right: 0;
  color: #fff;
  line-height: 20px;
  background: #ff5050;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
  display: none;
}
.have-data .order-list2 table tbody .good-item .buyer-info .modify-area:hover .modify-bt-in {
  display: block;
}
.have-data .order-list2 table tbody .good-item .buyer-info .modify-area:hover .modify-bt-out {
  display: none;
}
.have-data .order-list2 table tbody .good-item .buyer-info:hover .modify-area .modify-bt-out {
  display: block;
}
.have-data .order-list2 table tbody .good-item .buyer-info-hover {
  border-right-color: transparent;
  border-top-color: transparent;
}
.have-data .order-list2 table tbody .good-item .buyer-info-hover .buyer-info-container {
  position: relative;
  border: 1px solid #ff5050;
  border-bottom-color: #fff;
  margin-left: -16px;
  padding-left: 16px;
}
.have-data .order-list2 table tbody .good-item .buyer-info-hover .modify-area .modify-bt-in {
  display: block;
}
.have-data .order-list2 table tbody .good-item .buyer-info-hover .modify-area .modify-bt-out {
  display: none;
}
.have-data .order-list2 table tbody .good-item .buyer-remark {
  position: relative;
  width: 24%;
  line-height: 23px;
  border-right: 1px solid #d4d9e1;
  /*border-bottom: 1px solid #d4d9e1;
                        border-top: 1px solid #d4d9e1;*/
}
.have-data .order-list2 table tbody .good-item .buyer-remark .warm-text {
  color: #ff6363;
}
.have-data .order-list2 table tbody .good-item .buyer-remark .buyer-info-container {
  background: #fff;
  /*border: 1px solid transparent;*/
  min-height: 100px;
  /*padding-top: 10px;
                            padding-left: 10px;
                            padding-right: 5px;*/
  z-index: 1100;
}
.have-data .order-list2 table tbody .good-item .buyer-remark .modify-area {
  position: absolute;
  width: 80px;
  height: 80px;
  right: 0;
  top: 0;
}
.have-data .order-list2 table tbody .good-item .buyer-remark .modify-area .modify-bt-out {
  position: absolute;
  right: 0;
  color: #fff;
  cursor: pointer;
  display: none;
}
.have-data .order-list2 table tbody .good-item .buyer-remark .modify-area .modify-bt-out .icon-modify {
  background: url(img/icon-order.png) no-repeat 0px -174px;
  height: 20px;
  padding-left: 20px;
  display: block;
}
.have-data .order-list2 table tbody .good-item .buyer-remark .modify-area .modify-bt-in {
  position: absolute;
  right: 0;
  color: #fff;
  line-height: 20px;
  background: #ff5050;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
  display: none;
}
.have-data .order-list2 table tbody .good-item .buyer-remark .modify-area:hover .modify-bt-in {
  display: block;
}
.have-data .order-list2 table tbody .good-item .buyer-remark .modify-area:hover .modify-bt-out {
  display: none;
}
.have-data .order-list2 table tbody .good-item .buyer-remark:hover .modify-area .modify-bt-out {
  display: block;
}
.have-data .order-list2 table tbody .good-item .list-tabs {
  margin: 0 16px 16px 16px;
  height: 20px;
  padding: 0 10px;
  border: 1px solid #d4d9e1;
  cursor: pointer;
  font-size: 12px;
}
.have-data .order-list2 table tbody .good-item .list-tabs a {
  color: #53a5dd;
  text-decoration: none;
}
.have-data .order-list2 table tbody .good-item .list-tabs a:hover {
  color: #53a5dd;
  text-decoration: none;
}
.have-data .order-list2 table tbody .good-item .list-bt {
  display: block;
  border: 1px solid #d4d9e1;
  height: 20px;
  padding: 0 10px;
  margin: 16px 16px 0px 16px;
  border-radius: 2px;
  cursor: pointer;
  background: #fff;
  font: 12px 'Microsoft YaHei';
}
.have-data .order-list2 table tbody .good-item .good-img,
.have-data .order-list2 table tbody .good-item .info-detail,
.have-data .order-list2 table tbody .good-item .good-price,
.have-data .order-list2 table tbody .good-item .good-count {
  /*border-bottom: 1px solid #d4d9e1;
                        border-top: 1px solid transparent;*/
}
.have-data .order-list2 table tbody .good-hover .good-count .modify-area .modify-bt-out {
  display: block;
}
.have-data .order-list2 table tbody .good-modify-hover {
  /*.good-img, .info-detail, .good-price, .good-count {
                        border-top: 1px solid #ff5050;
                        border-color: #ff5050;
                    }*/
  /*.goods-info {
                        border-right: 1px solid #ff5050;
                    }*/
}
.have-data .order-list2 table tbody .good-modify-hover:nth-child(2) .good-img,
.have-data .order-list2 table tbody .good-modify-hover:nth-child(2) .info-detail,
.have-data .order-list2 table tbody .good-modify-hover:nth-child(2) .good-price,
.have-data .order-list2 table tbody .good-modify-hover:nth-child(2) .good-count {
  border-color: #ff5050;
}
.have-data .order-list2 table tbody .good-modify-hover .good-img {
  border-top: 1px solid #ff5050;
  border-left: 1px solid #ff5050;
}
.have-data .order-list2 table tbody .good-modify-hover .merge-cols {
  border-top: 1px solid #ff5050;
  border-right: 1px solid #ff5050;
  border-color: #ff5050;
}
.have-data .order-list2 table tbody .good-modify-hover .good-count .modify-area .modify-bt-in {
  display: block;
}
.have-data .order-list2 table tbody .buyer-hover .buyer-info .modify-area .modify-bt-out {
  display: block;
}
.have-data .order-list2 table tbody .modify-td {
  position: relative;
}
.have-data .order-list2 table .sep-row {
  height: 24px;
  /*.last-colomn {
                    border-right: none;
                }*/
}
.have-data .order-list2 table .sep-row td {
  border-right: 1px solid #d4d9e1;
}
.have-data .order-list2 table .sep-row td:last-child {
  border-right: none;
}
.have-data .order-list2 table .no-border td {
  border: none;
}
.have-data .order-list2 table .order-modify-container2 {
  position: absolute;
  width: 100%;
  background: #fff;
  z-index: 1000;
}
.have-data .order-list2 table .order-modify2 {
  border: 1px solid #ff5050;
  border-top: none;
  padding-top: 20px;
  margin-top: -4px;
}
.have-data .order-list2 table .order-modify2 > li {
  padding-left: 20px;
  line-height: 30px;
  height: 30px;
  margin-bottom: 15px;
}
.have-data .order-list2 table .order-modify2 > li .title {
  float: left;
  width: 50px;
  margin-right: 10px;
}
.have-data .order-list2 table .order-modify2 > li .content {
  float: left;
}
.have-data .order-list2 table .order-modify2 > li .content > input {
  border: 1px solid #d4d9e1;
  border-radius: 2px;
  height: 26px;
  width: 210px;
}
.have-data .order-list2 table .order-modify2 > li .content li {
  float: left;
}
.have-data .order-list2 table .order-modify2 > li .content .options {
  width: auto;
}
.have-data .order-list2 table .order-modify2 > li .content .options > li {
  position: relative;
  height: 28px;
  margin-right: 5px;
  border: 1px solid #d4d9e1;
  border-radius: 2px;
  padding-left: 6px;
  padding-right: 10px;
  cursor: pointer;
}
.have-data .order-list2 table .order-modify2 > li .content .options > li:hover {
  border-color: #1491ff;
}
.have-data .order-list2 table .order-modify2 > li .content .options .item-selected {
  border-color: #1491ff;
}
.have-data .order-list2 table .order-modify2 > li .content .options .item-selected:after {
  content: "";
  background: url(img/icon-order.png) no-repeat 0px -30px;
  height: 12px;
  padding-left: 16px;
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: -3px;
}
.have-data .order-list2 table .order-modify2 > li .content .options:after {
  clear: both;
  content: "";
  display: block;
}
.have-data .order-list2 table .order-modify2 > li .content .count li {
  border: 1px solid #d4d9e1;
  height: 22px;
  line-height: 24px;
  padding: 3px 15px;
}
.have-data .order-list2 table .order-modify2 > li .content .count .count-input {
  padding: 0;
  height: 28px;
}
.have-data .order-list2 table .order-modify2 > li .content .count .count-input input {
  text-align: center;
  border: none;
  width: 48px;
  height: 27px;
  line-height: 27px;
  padding: 0;
}
.have-data .order-list2 table .order-modify2 > li .content .count .reduce {
  color: #fff;
  background: #d4d9e1;
  width: 18px;
  height: 22px;
  border-radius: 2px 0 0 2px;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  line-height: 18px;
  padding: 3px 5px;
  cursor: pointer;
}
.have-data .order-list2 table .order-modify2 > li .content .count .reduce:after {
  content: "-";
}
.have-data .order-list2 table .order-modify2 > li .content .count .add {
  color: #fff;
  background: #d4d9e1;
  width: 22px;
  height: 22px;
  border-radius: 0 2px 2px 0;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  line-height: 18px;
  padding: 3px 5px;
  cursor: pointer;
}
.have-data .order-list2 table .order-modify2 > li .content .count .add:after {
  content: "+";
}
.have-data .order-list2 table .order-modify2 > li .content .reduce-disabled .reduce {
  background: #eef0f3;
  border-color: #eef0f3;
  cursor: default;
}
.have-data .order-list2 table .order-modify2 > li .content .reduce-disabled .reduce:after {
  content: " ";
}
.have-data .order-list2 table .order-modify2 > li .content .add-disabled .add {
  background-color: #eef0f3;
  border-color: #eef0f3;
  cursor: default;
}
.have-data .order-list2 table .order-modify2 > li .content .add-disabled .add:after {
  content: " ";
}
.have-data .order-list2 table .order-modify2 > li:after {
  clear: both;
  content: "";
  display: block;
}
.have-data .order-list2 table .order-modify2 .button-panel {
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #f1f2f6;
}
.have-data .order-list2 table .order-modify2 .button-panel > input {
  height: 24px;
  border: none;
  border-radius: 2px;
  padding: 3px 30px;
  cursor: pointer;
}
.have-data .order-list2 table .order-modify2 .button-panel .sub-bt {
  background-color: #54add3;
  color: #fff;
}
.have-data .order-list2 table .order-modify2 .button-panel .cancel-bt {
  background-color: transparent;
  color: #0076ff;
}
.have-data .order-list2 table .buyer-info-modify-container2 {
  position: absolute;
  background: #fff;
  z-index: 1000;
  width: 100%;
}
.have-data .order-list2 table .buyer-info-modify-container2 .buyer-info-modify2 {
  text-align: left;
  border: 1px solid #ff5050;
  position: relative;
  line-height: 24px;
  left: 0px;
  top: 0px;
}
.have-data .order-list2 table .buyer-info-modify-container2 .buyer-info-modify2 .address-picker {
  margin-left: 20px;
  width: 91%;
}
.have-data .order-list2 table .buyer-info-modify-container2 .buyer-info-modify2 .address-details {
  vertical-align: top;
  display: block;
  margin-top: 10px;
  margin-left: 20px;
  width: 90%;
  height: 70px;
  resize: none;
  border: 1px solid #d4d9e1;
  border-radius: 2px;
}
.have-data .order-list2 table .buyer-info-modify-container2 .buyer-info-modify2 .label-title {
  color: #969696;
  line-height: 20px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 8px;
}
.have-data .order-list2 table .buyer-info-modify-container2 .buyer-info-modify2 .couriers {
  margin-left: 20px;
  width: 91%;
}
.have-data .order-list2 table .buyer-info-modify-container2 .buyer-info-modify2 .couriers .couriers-selected {
  border: 1px solid #1491ff;
}
.have-data .order-list2 table .buyer-info-modify-container2 .buyer-info-modify2 .couriers .couriers-selected:after {
  content: "";
  background: url(img/icon-order.png) no-repeat 0px -30px;
  height: 12px;
  padding-left: 16px;
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: -3px;
}
.have-data .order-list2 table .buyer-info-modify-container2 .buyer-info-modify2 .couriers li {
  float: left;
  position: relative;
  line-height: 28px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid #d4d9e1;
  border-radius: 3px;
  padding-left: 5px;
  padding-right: 10px;
  cursor: pointer;
}
.have-data .order-list2 table .buyer-info-modify-container2 .buyer-info-modify2 .couriers li:hover {
  border-color: #1491ff;
}
.have-data .order-list2 table .buyer-info-modify-container2 .buyer-info-modify2 .couriers:after {
  clear: both;
  content: "";
  display: block;
}
.have-data .order-list2 table .buyer-info-modify-container2 .buyer-info-modify2 .button-panel {
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #f1f2f6;
  margin-top: 10px;
}
.have-data .order-list2 table .buyer-info-modify-container2 .buyer-info-modify2 .button-panel > input {
  height: 24px;
  border: none;
  border-radius: 3px;
  padding: 3px 30px;
  cursor: pointer;
}
.have-data .order-list2 table .buyer-info-modify-container2 .buyer-info-modify2 .button-panel .sub-bt {
  background-color: #54add3;
  color: #fff;
}
.have-data .order-list2 table .buyer-info-modify-container2 .buyer-info-modify2 .button-panel .cancel-bt {
  background-color: transparent;
  color: #0076ff;
}
.have-data .page-panel {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}
.have-data .page-panel > ul {
  float: right;
}
.have-data .page-panel:after {
  clear: both;
  content: "";
  display: block;
}
.have-data .order-modify-container {
  position: absolute;
  background: #fff;
  z-index: 1000;
}
.have-data .order-modify {
  border: 1px solid #ff5050;
  border-top: none;
  padding-top: 20px;
  width: 566px;
  position: relative;
  /*&:before {
        border: 8px solid;
        border-color: transparent transparent #fff transparent;
        position: absolute;
        content: "";
        left: 279px;
        top: -15px;
    }*/
}
.have-data .order-modify > li {
  padding-left: 20px;
  line-height: 30px;
  height: 30px;
  margin-bottom: 15px;
}
.have-data .order-modify > li .title {
  float: left;
  width: 50px;
  margin-right: 10px;
}
.have-data .order-modify > li .content {
  float: left;
}
.have-data .order-modify > li .content > input {
  border: 1px solid #d4d9e1;
  border-radius: 2px;
  height: 26px;
  width: 210px;
}
.have-data .order-modify > li .content li {
  float: left;
}
.have-data .order-modify > li .content .options {
  width: auto;
}
.have-data .order-modify > li .content .options > li {
  position: relative;
  height: 28px;
  margin-right: 5px;
  border: 1px solid #d4d9e1;
  border-radius: 2px;
  padding-left: 6px;
  padding-right: 10px;
  cursor: pointer;
}
.have-data .order-modify > li .content .options > li:hover {
  border-color: #1491ff;
}
.have-data .order-modify > li .content .options .item-selected {
  border-color: #1491ff;
}
.have-data .order-modify > li .content .options .item-selected:after {
  content: "";
  background: url(img/icon-order.png) no-repeat 0px -30px;
  height: 12px;
  padding-left: 16px;
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: -3px;
}
.have-data .order-modify > li .content .options:after {
  clear: both;
  content: "";
  display: block;
}
.have-data .order-modify > li .content .count li {
  border: 1px solid #d4d9e1;
  height: 22px;
  line-height: 24px;
  padding: 3px 15px;
}
.have-data .order-modify > li .content .count .count-input {
  padding: 3px 3px;
}
.have-data .order-modify > li .content .count .count-input input {
  text-align: center;
  border: none;
  width: 40px;
  height: 23px;
  line-height: 23px;
}
.have-data .order-modify > li .content .count .reduce {
  color: #fff;
  background: #d4d9e1;
  width: 18px;
  height: 22px;
  border-radius: 2px 0 0 2px;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  line-height: 18px;
  padding: 3px 5px;
  cursor: pointer;
}
.have-data .order-modify > li .content .count .reduce:after {
  content: "-";
}
.have-data .order-modify > li .content .count .add {
  color: #fff;
  background: #d4d9e1;
  width: 22px;
  height: 22px;
  border-radius: 0 2px 2px 0;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  line-height: 18px;
  padding: 3px 5px;
  cursor: pointer;
}
.have-data .order-modify > li .content .count .add:after {
  content: "+";
}
.have-data .order-modify > li .content .reduce-disabled .reduce {
  background: #eef0f3;
  border-color: #eef0f3;
  cursor: default;
}
.have-data .order-modify > li .content .reduce-disabled .reduce:after {
  content: " ";
}
.have-data .order-modify > li .content .add-disabled .add {
  background-color: #eef0f3;
  border-color: #eef0f3;
  cursor: default;
}
.have-data .order-modify > li .content .add-disabled .add:after {
  content: " ";
}
.have-data .order-modify > li:after {
  clear: both;
  content: "";
  display: block;
}
.have-data .order-modify .button-panel {
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #f1f2f6;
}
.have-data .order-modify .button-panel > input {
  height: 24px;
  border: none;
  border-radius: 2px;
  padding: 3px 30px;
  cursor: pointer;
}
.have-data .order-modify .button-panel .sub-bt {
  background-color: #06bcb4;
  color: #fff;
}
.have-data .order-modify .button-panel .cancel-bt {
  background-color: transparent;
  color: #0076ff;
}
.have-data .buyer-info-modify-container {
  position: absolute;
  background: #fff;
  z-index: 1000;
}
.have-data .buyer-info-modify-container .buyer-info-modify {
  border: 1px solid #ff5050;
  width: 488px;
  position: relative;
  line-height: 24px;
}
.have-data .buyer-info-modify-container .buyer-info-modify .address-picker {
  margin-left: 20px;
}
.have-data .buyer-info-modify-container .buyer-info-modify .address-picker select {
  height: 28px;
  width: 140px;
  border: 1px solid #d4d9e1;
  border-radius: 2px;
  font-size: 12px;
  color: #282828;
  margin-right: 10px;
}
.have-data .buyer-info-modify-container .buyer-info-modify .address-picker select option {
  color: #282828;
  font: 14px;
}
.have-data .buyer-info-modify-container .buyer-info-modify .address-picker .not-selected {
  color: #c1c1c1;
}
.have-data .buyer-info-modify-container .buyer-info-modify .address-details {
  vertical-align: top;
  display: block;
  margin-top: 10px;
  margin-left: 20px;
  width: 440px;
  height: 70px;
  resize: none;
  border: 1px solid #d4d9e1;
  border-radius: 2px;
}
.have-data .buyer-info-modify-container .buyer-info-modify .label-title {
  color: #969696;
  line-height: 20px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 8px;
}
.have-data .buyer-info-modify-container .buyer-info-modify .couriers {
  margin-left: 20px;
}
.have-data .buyer-info-modify-container .buyer-info-modify .couriers .couriers-selected {
  border: 1px solid #1491ff;
}
.have-data .buyer-info-modify-container .buyer-info-modify .couriers .couriers-selected:after {
  content: "";
  background: url(img/icon-order.png) no-repeat 0px -30px;
  height: 12px;
  padding-left: 16px;
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: -3px;
}
.have-data .buyer-info-modify-container .buyer-info-modify .couriers li {
  float: left;
  position: relative;
  line-height: 28px;
  margin-right: 5px;
  margin-bottom: 10px;
  border: 1px solid #d4d9e1;
  border-radius: 3px;
  padding-left: 6px;
  padding-right: 10px;
  cursor: pointer;
}
.have-data .buyer-info-modify-container .buyer-info-modify .couriers li:hover {
  border-color: #1491ff;
}
.have-data .buyer-info-modify-container .buyer-info-modify .couriers:after {
  clear: both;
  content: "";
  display: block;
}
.have-data .buyer-info-modify-container .buyer-info-modify .button-panel {
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #f1f2f6;
  margin-top: 10px;
}
.have-data .buyer-info-modify-container .buyer-info-modify .button-panel > input {
  height: 24px;
  border: none;
  border-radius: 3px;
  padding: 3px 30px;
  cursor: pointer;
}
.have-data .buyer-info-modify-container .buyer-info-modify .button-panel .sub-bt {
  background-color: #06bcb4;
  color: #fff;
}
.have-data .buyer-info-modify-container .buyer-info-modify .button-panel .cancel-bt {
  background-color: transparent;
  color: #0076ff;
}
.have-data .buyer-group-0 {
  top: 74px;
}
.have-data .buyer-group-1 {
  top: 124px;
}
.have-data .buyer-group-2 {
  top: 174px;
}
.have-data .buyer-group-3 {
  top: 224px;
}
.have-data .buyer-group-4 {
  top: 274px;
}
.have-data .buyer-group-5 {
  top: 324px;
}
.have-data .buyer-group-6 {
  top: 374px;
}
.have-data .buyer-group-7 {
  top: 424px;
}
.have-data .buyer-group-8 {
  top: 474px;
}
.have-data .buyer-group-9 {
  top: 524px;
}
.have-data .buyer-group-10 {
  top: 574px;
}
.have-data .buyer-group-11 {
  top: 624px;
}
.have-data .buyer-group-12 {
  top: 674px;
}
.have-data .buyer-group-13 {
  top: 724px;
}
.have-data .buyer-group-14 {
  top: 774px;
}
.have-data .buyer-group-15 {
  top: 824px;
}
.have-data .buyer-group-16 {
  top: 874px;
}
.have-data .buyer-group-17 {
  top: 924px;
}
.have-data .buyer-group-18 {
  top: 974px;
}
.have-data .buyer-group-19 {
  top: 1024px;
}
.have-data .buyer-group-20 {
  top: 1074px;
}
.have-data .buyer-item-0 {
  margin-top: 0px;
}
.have-data .buyer-item-1 {
  margin-top: 112px;
}
.have-data .buyer-item-2 {
  margin-top: 224px;
}
.have-data .buyer-item-3 {
  margin-top: 336px;
}
.have-data .buyer-item-4 {
  margin-top: 448px;
}
.have-data .buyer-item-5 {
  margin-top: 560px;
}
.have-data .buyer-item-6 {
  margin-top: 672px;
}
.have-data .buyer-item-7 {
  margin-top: 784px;
}
.have-data .buyer-item-8 {
  margin-top: 896px;
}
.have-data .buyer-item-9 {
  margin-top: 1008px;
}
.have-data .buyer-item-10 {
  margin-top: 1120px;
}
.have-data .buyer-item-11 {
  margin-top: 1232px;
}
.have-data .buyer-item-12 {
  margin-top: 1344px;
}
.have-data .buyer-item-13 {
  margin-top: 1456px;
}
.have-data .buyer-item-14 {
  margin-top: 1568px;
}
.have-data .buyer-item-15 {
  margin-top: 1680px;
}
.have-data .buyer-item-16 {
  margin-top: 1792px;
}
.have-data .buyer-item-17 {
  margin-top: 1904px;
}
.have-data .buyer-item-18 {
  margin-top: 2016px;
}
.have-data .buyer-item-19 {
  margin-top: 2128px;
}
.have-data .buyer-item-20 {
  margin-top: 2240px;
}
.have-data .buyer-item-21 {
  margin-top: 2352px;
}
.have-data .buyer-item-22 {
  margin-top: 2464px;
}
.have-data .buyer-item-23 {
  margin-top: 2576px;
}
.have-data .buyer-item-24 {
  margin-top: 2688px;
}
.have-data .buyer-item-25 {
  margin-top: 2800px;
}
.have-data .buyer-item-26 {
  margin-top: 2912px;
}
.have-data .buyer-item-27 {
  margin-top: 3024px;
}
.have-data .buyer-item-28 {
  margin-top: 3136px;
}
.have-data .buyer-item-29 {
  margin-top: 3248px;
}
.have-data .buyer-item-30 {
  margin-top: 3360px;
}
.have-data .buyer-item-31 {
  margin-top: 3472px;
}
.have-data .buyer-item-32 {
  margin-top: 3584px;
}
.have-data .buyer-item-33 {
  margin-top: 3696px;
}
.have-data .buyer-item-34 {
  margin-top: 3808px;
}
.have-data .buyer-item-35 {
  margin-top: 3920px;
}
.have-data .buyer-item-36 {
  margin-top: 4032px;
}
.have-data .buyer-item-37 {
  margin-top: 4144px;
}
.have-data .buyer-item-38 {
  margin-top: 4256px;
}
.have-data .buyer-item-39 {
  margin-top: 4368px;
}
.have-data .buyer-item-40 {
  margin-top: 4480px;
}
.have-data .buyer-info-left {
  margin-left: 568px;
}
.no-data {
  display: none;
  text-align: center;
  width: 95%;
  margin: 0 auto;
  border: 1px solid #fbbf60;
  border-radius: 5px;
}
.no-data .warm-text {
  font-weight: bold;
  font-size: 16px;
}
.no-data a {
  color: #0076ff;
  font-weight: bold;
}
.no-data a:hover {
  color: #008d84;
}
.div_overlay {
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1010;
  -moz-opacity: 0.8;
  opacity: .80;
  filter: alpha(opacity=80);
}
.div-progress {
  position: fixed;
  top: 300px;
  left: 25%;
  width: 50%;
  color: #fff;
  z-index: 3000;
}
