<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kingdee.eas.hrp.sms.dao.customize.InvoiceDaoMapper">


	<!--删除基础资料 -->
	<select id="selectInvoiceById" parameterType="map" resultType="map">
		SELECT
			i.code,
			i.effectiveDate,
			i.dyBatchNum,
			t.name,
			t.specification
		FROM
			t_sms_invoice_entry i
		INNER JOIN 
			t_sms_item t 
		ON 	i.material = t.id
		WHERE
		 i.id in
		 <foreach collection="id" index="index" item="item" open="("
   			 separator="," close=")">
   			#{item} 
  			</foreach>
	</select>
</mapper>