<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kingdee.eas.hrp.sms.dao.customize.SendcargoDaoMapper">


    <!--根据Id查询个体码-->
    <select id="selectInvoiceById" parameterType="map" resultType="map">
		SELECT
		t1.code,
		t1.effectiveDate,
		t1.dyBatchNum,
		t1.dyProDate,
		t2.name AS material_DspName,
		t2.number AS material_NmbName,
		t2.specification,
		t3.number,
		t3."Date" as "date",
		t6.name AS saleProxy_DspName,
		t4.number AS orderNumber,
		t5.name AS unit_DspName
		FROM
		t_sms_sendcargo_entry t1
		INNER JOIN t_sms_item t2 ON t1.material = t2.id
		INNER JOIN t_sms_sendcargo t3 ON t1.parent = t3.id
		LEFT JOIN t_sms_purchase_order t4 ON t1.orderId = t4.id
		INNER JOIN t_sms_unit t5 ON t1.unit = t5.id
		INNER JOIN t_sms_sale_proxy t6 ON t3.saleProxy = t6.id
        WHERE
		t3.id in
        <foreach collection="id" index="index" item="item" open="("
                 separator="," close=")">
            #{item}
        </foreach>
        AND
		t1.code !=''
    </select>

    <select id="selectInvoiceEntryByParent" parameterType="String" resultType="map">
		SELECT
			t.orderId,
			t.orderSeq,
			SUM (t.actualQty) AS actualQty
		FROM
			t_sms_sendcargo_entry t
		WHERE
			t.parent = #{parent}
  		GROUP BY
			t.orderId,
			t.orderSeq
	</select>

    <select id="selectSendCargoANDEntry" parameterType="String" resultType="map">
		SELECT
			t.id,
			t.supplier,
			t.number,
			t.saleProxy,
			e.id AS entryId,
			e.seq,
			e.orderId,
			e.orderSeq,
			e.material,
			e.lot,
			e.dyBatchNum,
			e.code,
			e.price,
			e.unit,
			e.qty,
			e.dyProDate,
			e.dyManufacturer,
			e.registrationNo,
			e.effectiveDate,
			e.amount,
			e.actualQty,
			e.department,
			d.name AS department_name,
			o.id AS orderEntryId,
			t.type
		FROM
			t_sms_sendcargo t
		INNER JOIN 
			t_sms_sendcargo_entry e ON t.id = e.parent
		INNER JOIN 
			t_sms_purchase_order_entry o ON e.orderId = o.parent AND e.orderSeq = o.seq
		LEFT JOIN t_sms_department d ON e.department=d.id
		WHERE
			t.id = #{id}
	</select>

    <select id="selectEntryByParent" parameterType="String" resultType="map">
		SELECT
			*
		FROM
			t_sms_sendcargo_entry t
		WHERE
			t.id = #{id}
			
	</select>
</mapper>