<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kingdee.eas.hrp.sms.dao.customize.TemplateDaoMapper">

	<!-- 根据模板查询数据 -->
	<select id="getItems" parameterType="map" resultType="map">
		${select}
		${from}
		${where}
		${orderby}
		<if test="offset!=null">
			limit ${offset},${pageSize}
		</if>
	</select>

	<!-- 增加基础资料 -->
	<insert id="add" parameterType="HashMap" useGeneratedKeys="true" keyProperty="id">
		insert into ${tableName} (${
		fieldStr}) values(${valueStr})
	</insert>

	<!-- 修改基础资料 -->
	<update id="edit" parameterType="HashMap">
		update ${tableName} set ${kvStr} where ${primaryKey}=${FID}
	</update>
	<!--删除基础资料 -->
	<delete id="del" parameterType="HashMap">
		delete from ${tableName} where ${primaryKey} in ( ${items}
		)
	</delete>
</mapper>