<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kingdee.eas.hrp.sms.dao.generate.MaterialMapper">
  <resultMap id="BaseResultMap" type="com.kingdee.eas.hrp.sms.model.Material">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="supplierMaterialNumber" jdbcType="VARCHAR" property="supplierMaterialNumber" />
    <result column="noNumMaterialModel" jdbcType="VARCHAR" property="noNumMaterialModel" />
    <result column="orderId" jdbcType="VARCHAR" property="orderId" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="qty" jdbcType="INTEGER" property="qty" />
    <result column="deliveryDate" jdbcType="TIMESTAMP" property="deliveryDate" />
    <result column="discountRate" jdbcType="DOUBLE" property="discountRate" />
    <result column="taxRate" jdbcType="DOUBLE" property="taxRate" />
    <result column="taxPrice" jdbcType="DECIMAL" property="taxPrice" />
    <result column="actualTaxPrice" jdbcType="DECIMAL" property="actualTaxPrice" />
    <result column="discountPrice" jdbcType="DECIMAL" property="discountPrice" />
    <result column="tax" jdbcType="DECIMAL" property="tax" />
    <result column="localPrice" jdbcType="DECIMAL" property="localPrice" />
    <result column="lineNumbers" jdbcType="INTEGER" property="lineNumbers" />
    <result column="confirmDate" jdbcType="TIMESTAMP" property="confirmDate" />
    <result column="confirmQty" jdbcType="INTEGER" property="confirmQty" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, supplierMaterialNumber, noNumMaterialModel, orderId, price, qty, deliveryDate, 
    discountRate, taxRate, taxPrice, actualTaxPrice, discountPrice, tax, localPrice, 
    lineNumbers, confirmDate, confirmQty
  </sql>
  <select id="selectByExample" parameterType="com.kingdee.eas.hrp.sms.model.MaterialExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_sms_material_information
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_sms_material_information
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_sms_material_information
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.kingdee.eas.hrp.sms.model.MaterialExample">
    delete from t_sms_material_information
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.kingdee.eas.hrp.sms.model.Material">
    insert into t_sms_material_information (id, supplierMaterialNumber, noNumMaterialModel, 
      orderId, price, qty, 
      deliveryDate, discountRate, taxRate, 
      taxPrice, actualTaxPrice, discountPrice, 
      tax, localPrice, lineNumbers, 
      confirmDate, confirmQty)
    values (#{id,jdbcType=INTEGER}, #{supplierMaterialNumber,jdbcType=VARCHAR}, #{noNumMaterialModel,jdbcType=VARCHAR}, 
      #{orderId,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, #{qty,jdbcType=INTEGER}, 
      #{deliveryDate,jdbcType=TIMESTAMP}, #{discountRate,jdbcType=DOUBLE}, #{taxRate,jdbcType=DOUBLE}, 
      #{taxPrice,jdbcType=DECIMAL}, #{actualTaxPrice,jdbcType=DECIMAL}, #{discountPrice,jdbcType=DECIMAL}, 
      #{tax,jdbcType=DECIMAL}, #{localPrice,jdbcType=DECIMAL}, #{lineNumbers,jdbcType=INTEGER}, 
      #{confirmDate,jdbcType=TIMESTAMP}, #{confirmQty,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.kingdee.eas.hrp.sms.model.Material">
    insert into t_sms_material_information
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="supplierMaterialNumber != null">
        supplierMaterialNumber,
      </if>
      <if test="noNumMaterialModel != null">
        noNumMaterialModel,
      </if>
      <if test="orderId != null">
        orderId,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="qty != null">
        qty,
      </if>
      <if test="deliveryDate != null">
        deliveryDate,
      </if>
      <if test="discountRate != null">
        discountRate,
      </if>
      <if test="taxRate != null">
        taxRate,
      </if>
      <if test="taxPrice != null">
        taxPrice,
      </if>
      <if test="actualTaxPrice != null">
        actualTaxPrice,
      </if>
      <if test="discountPrice != null">
        discountPrice,
      </if>
      <if test="tax != null">
        tax,
      </if>
      <if test="localPrice != null">
        localPrice,
      </if>
      <if test="lineNumbers != null">
        lineNumbers,
      </if>
      <if test="confirmDate != null">
        confirmDate,
      </if>
      <if test="confirmQty != null">
        confirmQty,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="supplierMaterialNumber != null">
        #{supplierMaterialNumber,jdbcType=VARCHAR},
      </if>
      <if test="noNumMaterialModel != null">
        #{noNumMaterialModel,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="qty != null">
        #{qty,jdbcType=INTEGER},
      </if>
      <if test="deliveryDate != null">
        #{deliveryDate,jdbcType=TIMESTAMP},
      </if>
      <if test="discountRate != null">
        #{discountRate,jdbcType=DOUBLE},
      </if>
      <if test="taxRate != null">
        #{taxRate,jdbcType=DOUBLE},
      </if>
      <if test="taxPrice != null">
        #{taxPrice,jdbcType=DECIMAL},
      </if>
      <if test="actualTaxPrice != null">
        #{actualTaxPrice,jdbcType=DECIMAL},
      </if>
      <if test="discountPrice != null">
        #{discountPrice,jdbcType=DECIMAL},
      </if>
      <if test="tax != null">
        #{tax,jdbcType=DECIMAL},
      </if>
      <if test="localPrice != null">
        #{localPrice,jdbcType=DECIMAL},
      </if>
      <if test="lineNumbers != null">
        #{lineNumbers,jdbcType=INTEGER},
      </if>
      <if test="confirmDate != null">
        #{confirmDate,jdbcType=TIMESTAMP},
      </if>
      <if test="confirmQty != null">
        #{confirmQty,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.kingdee.eas.hrp.sms.model.MaterialExample" resultType="java.lang.Long">
    select count(*) from t_sms_material_information
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_sms_material_information
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.supplierMaterialNumber != null">
        supplierMaterialNumber = #{record.supplierMaterialNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.noNumMaterialModel != null">
        noNumMaterialModel = #{record.noNumMaterialModel,jdbcType=VARCHAR},
      </if>
      <if test="record.orderId != null">
        orderId = #{record.orderId,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null">
        price = #{record.price,jdbcType=DECIMAL},
      </if>
      <if test="record.qty != null">
        qty = #{record.qty,jdbcType=INTEGER},
      </if>
      <if test="record.deliveryDate != null">
        deliveryDate = #{record.deliveryDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.discountRate != null">
        discountRate = #{record.discountRate,jdbcType=DOUBLE},
      </if>
      <if test="record.taxRate != null">
        taxRate = #{record.taxRate,jdbcType=DOUBLE},
      </if>
      <if test="record.taxPrice != null">
        taxPrice = #{record.taxPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.actualTaxPrice != null">
        actualTaxPrice = #{record.actualTaxPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.discountPrice != null">
        discountPrice = #{record.discountPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.tax != null">
        tax = #{record.tax,jdbcType=DECIMAL},
      </if>
      <if test="record.localPrice != null">
        localPrice = #{record.localPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.lineNumbers != null">
        lineNumbers = #{record.lineNumbers,jdbcType=INTEGER},
      </if>
      <if test="record.confirmDate != null">
        confirmDate = #{record.confirmDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.confirmQty != null">
        confirmQty = #{record.confirmQty,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_sms_material_information
    set id = #{record.id,jdbcType=INTEGER},
      supplierMaterialNumber = #{record.supplierMaterialNumber,jdbcType=VARCHAR},
      noNumMaterialModel = #{record.noNumMaterialModel,jdbcType=VARCHAR},
      orderId = #{record.orderId,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=DECIMAL},
      qty = #{record.qty,jdbcType=INTEGER},
      deliveryDate = #{record.deliveryDate,jdbcType=TIMESTAMP},
      discountRate = #{record.discountRate,jdbcType=DOUBLE},
      taxRate = #{record.taxRate,jdbcType=DOUBLE},
      taxPrice = #{record.taxPrice,jdbcType=DECIMAL},
      actualTaxPrice = #{record.actualTaxPrice,jdbcType=DECIMAL},
      discountPrice = #{record.discountPrice,jdbcType=DECIMAL},
      tax = #{record.tax,jdbcType=DECIMAL},
      localPrice = #{record.localPrice,jdbcType=DECIMAL},
      lineNumbers = #{record.lineNumbers,jdbcType=INTEGER},
      confirmDate = #{record.confirmDate,jdbcType=TIMESTAMP},
      confirmQty = #{record.confirmQty,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.kingdee.eas.hrp.sms.model.Material">
    update t_sms_material_information
    <set>
      <if test="supplierMaterialNumber != null">
        supplierMaterialNumber = #{supplierMaterialNumber,jdbcType=VARCHAR},
      </if>
      <if test="noNumMaterialModel != null">
        noNumMaterialModel = #{noNumMaterialModel,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        orderId = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="qty != null">
        qty = #{qty,jdbcType=INTEGER},
      </if>
      <if test="deliveryDate != null">
        deliveryDate = #{deliveryDate,jdbcType=TIMESTAMP},
      </if>
      <if test="discountRate != null">
        discountRate = #{discountRate,jdbcType=DOUBLE},
      </if>
      <if test="taxRate != null">
        taxRate = #{taxRate,jdbcType=DOUBLE},
      </if>
      <if test="taxPrice != null">
        taxPrice = #{taxPrice,jdbcType=DECIMAL},
      </if>
      <if test="actualTaxPrice != null">
        actualTaxPrice = #{actualTaxPrice,jdbcType=DECIMAL},
      </if>
      <if test="discountPrice != null">
        discountPrice = #{discountPrice,jdbcType=DECIMAL},
      </if>
      <if test="tax != null">
        tax = #{tax,jdbcType=DECIMAL},
      </if>
      <if test="localPrice != null">
        localPrice = #{localPrice,jdbcType=DECIMAL},
      </if>
      <if test="lineNumbers != null">
        lineNumbers = #{lineNumbers,jdbcType=INTEGER},
      </if>
      <if test="confirmDate != null">
        confirmDate = #{confirmDate,jdbcType=TIMESTAMP},
      </if>
      <if test="confirmQty != null">
        confirmQty = #{confirmQty,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kingdee.eas.hrp.sms.model.Material">
    update t_sms_material_information
    set supplierMaterialNumber = #{supplierMaterialNumber,jdbcType=VARCHAR},
      noNumMaterialModel = #{noNumMaterialModel,jdbcType=VARCHAR},
      orderId = #{orderId,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      qty = #{qty,jdbcType=INTEGER},
      deliveryDate = #{deliveryDate,jdbcType=TIMESTAMP},
      discountRate = #{discountRate,jdbcType=DOUBLE},
      taxRate = #{taxRate,jdbcType=DOUBLE},
      taxPrice = #{taxPrice,jdbcType=DECIMAL},
      actualTaxPrice = #{actualTaxPrice,jdbcType=DECIMAL},
      discountPrice = #{discountPrice,jdbcType=DECIMAL},
      tax = #{tax,jdbcType=DECIMAL},
      localPrice = #{localPrice,jdbcType=DECIMAL},
      lineNumbers = #{lineNumbers,jdbcType=INTEGER},
      confirmDate = #{confirmDate,jdbcType=TIMESTAMP},
      confirmQty = #{confirmQty,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>