<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kingdee.eas.hrp.sms.dao.generate.OrderMapper">
  <resultMap id="BaseResultMap" type="com.kingdee.eas.hrp.sms.model.Order">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="lineNumbers" jdbcType="INTEGER" property="lineNumbers" />
    <result column="supplierId" jdbcType="VARCHAR" property="supplierId" />
    <result column="supplierName" jdbcType="VARCHAR" property="supplierName" />
    <result column="orderTime" jdbcType="TIMESTAMP" property="orderTime" />
    <result column="buyer" jdbcType="VARCHAR" property="buyer" />
    <result column="purchasingMode" jdbcType="INTEGER" property="purchasingMode" />
    <result column="tax" jdbcType="INTEGER" property="tax" />
    <result column="cutasingleTime" jdbcType="TIMESTAMP" property="cutasingleTime" />
    <result column="confirmDeliveryTime" jdbcType="TIMESTAMP" property="confirmDeliveryTime" />
    <result column="confirmDeliveryNumbers" jdbcType="INTEGER" property="confirmDeliveryNumbers" />
    <result column="confirmOrder" jdbcType="INTEGER" property="confirmOrder" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, lineNumbers, supplierId, supplierName, orderTime, buyer, purchasingMode, tax, 
    cutasingleTime, confirmDeliveryTime, confirmDeliveryNumbers, confirmOrder
  </sql>
  <select id="selectByExample" parameterType="com.kingdee.eas.hrp.sms.model.OrderExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_sms_purchase_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_sms_purchase_order
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_sms_purchase_order
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.kingdee.eas.hrp.sms.model.OrderExample">
    delete from t_sms_purchase_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.kingdee.eas.hrp.sms.model.Order">
    insert into t_sms_purchase_order (id, lineNumbers, supplierId, 
      supplierName, orderTime, buyer, 
      purchasingMode, tax, cutasingleTime, 
      confirmDeliveryTime, confirmDeliveryNumbers, 
      confirmOrder)
    values (#{id,jdbcType=VARCHAR}, #{lineNumbers,jdbcType=INTEGER}, #{supplierId,jdbcType=VARCHAR}, 
      #{supplierName,jdbcType=VARCHAR}, #{orderTime,jdbcType=TIMESTAMP}, #{buyer,jdbcType=VARCHAR}, 
      #{purchasingMode,jdbcType=INTEGER}, #{tax,jdbcType=INTEGER}, #{cutasingleTime,jdbcType=TIMESTAMP}, 
      #{confirmDeliveryTime,jdbcType=TIMESTAMP}, #{confirmDeliveryNumbers,jdbcType=INTEGER}, 
      #{confirmOrder,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.kingdee.eas.hrp.sms.model.Order">
    insert into t_sms_purchase_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="lineNumbers != null">
        lineNumbers,
      </if>
      <if test="supplierId != null">
        supplierId,
      </if>
      <if test="supplierName != null">
        supplierName,
      </if>
      <if test="orderTime != null">
        orderTime,
      </if>
      <if test="buyer != null">
        buyer,
      </if>
      <if test="purchasingMode != null">
        purchasingMode,
      </if>
      <if test="tax != null">
        tax,
      </if>
      <if test="cutasingleTime != null">
        cutasingleTime,
      </if>
      <if test="confirmDeliveryTime != null">
        confirmDeliveryTime,
      </if>
      <if test="confirmDeliveryNumbers != null">
        confirmDeliveryNumbers,
      </if>
      <if test="confirmOrder != null">
        confirmOrder,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="lineNumbers != null">
        #{lineNumbers,jdbcType=INTEGER},
      </if>
      <if test="supplierId != null">
        #{supplierId,jdbcType=VARCHAR},
      </if>
      <if test="supplierName != null">
        #{supplierName,jdbcType=VARCHAR},
      </if>
      <if test="orderTime != null">
        #{orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="buyer != null">
        #{buyer,jdbcType=VARCHAR},
      </if>
      <if test="purchasingMode != null">
        #{purchasingMode,jdbcType=INTEGER},
      </if>
      <if test="tax != null">
        #{tax,jdbcType=INTEGER},
      </if>
      <if test="cutasingleTime != null">
        #{cutasingleTime,jdbcType=TIMESTAMP},
      </if>
      <if test="confirmDeliveryTime != null">
        #{confirmDeliveryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="confirmDeliveryNumbers != null">
        #{confirmDeliveryNumbers,jdbcType=INTEGER},
      </if>
      <if test="confirmOrder != null">
        #{confirmOrder,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.kingdee.eas.hrp.sms.model.OrderExample" resultType="java.lang.Long">
    select count(*) from t_sms_purchase_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_sms_purchase_order
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.lineNumbers != null">
        lineNumbers = #{record.lineNumbers,jdbcType=INTEGER},
      </if>
      <if test="record.supplierId != null">
        supplierId = #{record.supplierId,jdbcType=VARCHAR},
      </if>
      <if test="record.supplierName != null">
        supplierName = #{record.supplierName,jdbcType=VARCHAR},
      </if>
      <if test="record.orderTime != null">
        orderTime = #{record.orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.buyer != null">
        buyer = #{record.buyer,jdbcType=VARCHAR},
      </if>
      <if test="record.purchasingMode != null">
        purchasingMode = #{record.purchasingMode,jdbcType=INTEGER},
      </if>
      <if test="record.tax != null">
        tax = #{record.tax,jdbcType=INTEGER},
      </if>
      <if test="record.cutasingleTime != null">
        cutasingleTime = #{record.cutasingleTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.confirmDeliveryTime != null">
        confirmDeliveryTime = #{record.confirmDeliveryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.confirmDeliveryNumbers != null">
        confirmDeliveryNumbers = #{record.confirmDeliveryNumbers,jdbcType=INTEGER},
      </if>
      <if test="record.confirmOrder != null">
        confirmOrder = #{record.confirmOrder,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_sms_purchase_order
    set id = #{record.id,jdbcType=VARCHAR},
      lineNumbers = #{record.lineNumbers,jdbcType=INTEGER},
      supplierId = #{record.supplierId,jdbcType=VARCHAR},
      supplierName = #{record.supplierName,jdbcType=VARCHAR},
      orderTime = #{record.orderTime,jdbcType=TIMESTAMP},
      buyer = #{record.buyer,jdbcType=VARCHAR},
      purchasingMode = #{record.purchasingMode,jdbcType=INTEGER},
      tax = #{record.tax,jdbcType=INTEGER},
      cutasingleTime = #{record.cutasingleTime,jdbcType=TIMESTAMP},
      confirmDeliveryTime = #{record.confirmDeliveryTime,jdbcType=TIMESTAMP},
      confirmDeliveryNumbers = #{record.confirmDeliveryNumbers,jdbcType=INTEGER},
      confirmOrder = #{record.confirmOrder,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.kingdee.eas.hrp.sms.model.Order">
    update t_sms_purchase_order
    <set>
      <if test="lineNumbers != null">
        lineNumbers = #{lineNumbers,jdbcType=INTEGER},
      </if>
      <if test="supplierId != null">
        supplierId = #{supplierId,jdbcType=VARCHAR},
      </if>
      <if test="supplierName != null">
        supplierName = #{supplierName,jdbcType=VARCHAR},
      </if>
      <if test="orderTime != null">
        orderTime = #{orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="buyer != null">
        buyer = #{buyer,jdbcType=VARCHAR},
      </if>
      <if test="purchasingMode != null">
        purchasingMode = #{purchasingMode,jdbcType=INTEGER},
      </if>
      <if test="tax != null">
        tax = #{tax,jdbcType=INTEGER},
      </if>
      <if test="cutasingleTime != null">
        cutasingleTime = #{cutasingleTime,jdbcType=TIMESTAMP},
      </if>
      <if test="confirmDeliveryTime != null">
        confirmDeliveryTime = #{confirmDeliveryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="confirmDeliveryNumbers != null">
        confirmDeliveryNumbers = #{confirmDeliveryNumbers,jdbcType=INTEGER},
      </if>
      <if test="confirmOrder != null">
        confirmOrder = #{confirmOrder,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kingdee.eas.hrp.sms.model.Order">
    update t_sms_purchase_order
    set lineNumbers = #{lineNumbers,jdbcType=INTEGER},
      supplierId = #{supplierId,jdbcType=VARCHAR},
      supplierName = #{supplierName,jdbcType=VARCHAR},
      orderTime = #{orderTime,jdbcType=TIMESTAMP},
      buyer = #{buyer,jdbcType=VARCHAR},
      purchasingMode = #{purchasingMode,jdbcType=INTEGER},
      tax = #{tax,jdbcType=INTEGER},
      cutasingleTime = #{cutasingleTime,jdbcType=TIMESTAMP},
      confirmDeliveryTime = #{confirmDeliveryTime,jdbcType=TIMESTAMP},
      confirmDeliveryNumbers = #{confirmDeliveryNumbers,jdbcType=INTEGER},
      confirmOrder = #{confirmOrder,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>