<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kingdee.eas.hrp.sms.dao.generate.SupplierMapper">
  <resultMap id="BaseResultMap" type="com.kingdee.eas.hrp.sms.model.Supplier">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="taxId" jdbcType="VARCHAR" property="taxId" />
    <result column="CORP" jdbcType="VARCHAR" property="CORP" />
    <result column="BRNO" jdbcType="VARCHAR" property="BRNO" />
    <result column="taxCategoryId" jdbcType="VARCHAR" property="taxCategoryId" />
    <result column="taxRate" jdbcType="DECIMAL" property="taxRate" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="county" jdbcType="VARCHAR" property="county" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="industryId" jdbcType="VARCHAR" property="industryId" />
    <result column="categoryId" jdbcType="VARCHAR" property="categoryId" />
    <result column="createOrganization" jdbcType="VARCHAR" property="createOrganization" />
    <result column="banOrganization" jdbcType="VARCHAR" property="banOrganization" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="certificateId" jdbcType="VARCHAR" property="certificateId" />
    <result column="currencyId" jdbcType="VARCHAR" property="currencyId" />
    <result column="settlementId" jdbcType="VARCHAR" property="settlementId" />
    <result column="payId" jdbcType="VARCHAR" property="payId" />
    <result column="number" jdbcType="VARCHAR" property="number" />
    <result column="syncStatus" jdbcType="VARCHAR" property="syncStatus" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, [name], taxId, CORP, BRNO, taxCategoryId, taxRate, country, city, province, county, 
    address, industryId, categoryId, createOrganization, banOrganization, [status], certificateId, 
    currencyId, settlementId, payId, [number], syncStatus
  </sql>
  <select id="selectByExample" parameterType="com.kingdee.eas.hrp.sms.model.SupplierExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_sms_supplier
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_sms_supplier
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_sms_supplier
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.kingdee.eas.hrp.sms.model.SupplierExample">
    delete from t_sms_supplier
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.kingdee.eas.hrp.sms.model.Supplier">
    insert into t_sms_supplier (id, [name], taxId, 
      CORP, BRNO, taxCategoryId, 
      taxRate, country, city, 
      province, county, address, 
      industryId, categoryId, createOrganization, 
      banOrganization, [status], certificateId, 
      currencyId, settlementId, payId, 
      [number], syncStatus)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{taxId,jdbcType=VARCHAR}, 
      #{CORP,jdbcType=VARCHAR}, #{BRNO,jdbcType=VARCHAR}, #{taxCategoryId,jdbcType=VARCHAR}, 
      #{taxRate,jdbcType=DECIMAL}, #{country,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, 
      #{province,jdbcType=VARCHAR}, #{county,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{industryId,jdbcType=VARCHAR}, #{categoryId,jdbcType=VARCHAR}, #{createOrganization,jdbcType=VARCHAR}, 
      #{banOrganization,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{certificateId,jdbcType=VARCHAR}, 
      #{currencyId,jdbcType=VARCHAR}, #{settlementId,jdbcType=VARCHAR}, #{payId,jdbcType=VARCHAR}, 
      #{number,jdbcType=VARCHAR}, #{syncStatus,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.kingdee.eas.hrp.sms.model.Supplier">
    insert into t_sms_supplier
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        [name],
      </if>
      <if test="taxId != null">
        taxId,
      </if>
      <if test="CORP != null">
        CORP,
      </if>
      <if test="BRNO != null">
        BRNO,
      </if>
      <if test="taxCategoryId != null">
        taxCategoryId,
      </if>
      <if test="taxRate != null">
        taxRate,
      </if>
      <if test="country != null">
        country,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="province != null">
        province,
      </if>
      <if test="county != null">
        county,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="industryId != null">
        industryId,
      </if>
      <if test="categoryId != null">
        categoryId,
      </if>
      <if test="createOrganization != null">
        createOrganization,
      </if>
      <if test="banOrganization != null">
        banOrganization,
      </if>
      <if test="status != null">
        [status],
      </if>
      <if test="certificateId != null">
        certificateId,
      </if>
      <if test="currencyId != null">
        currencyId,
      </if>
      <if test="settlementId != null">
        settlementId,
      </if>
      <if test="payId != null">
        payId,
      </if>
      <if test="number != null">
        [number],
      </if>
      <if test="syncStatus != null">
        syncStatus,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="taxId != null">
        #{taxId,jdbcType=VARCHAR},
      </if>
      <if test="CORP != null">
        #{CORP,jdbcType=VARCHAR},
      </if>
      <if test="BRNO != null">
        #{BRNO,jdbcType=VARCHAR},
      </if>
      <if test="taxCategoryId != null">
        #{taxCategoryId,jdbcType=VARCHAR},
      </if>
      <if test="taxRate != null">
        #{taxRate,jdbcType=DECIMAL},
      </if>
      <if test="country != null">
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="county != null">
        #{county,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="industryId != null">
        #{industryId,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=VARCHAR},
      </if>
      <if test="createOrganization != null">
        #{createOrganization,jdbcType=VARCHAR},
      </if>
      <if test="banOrganization != null">
        #{banOrganization,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="certificateId != null">
        #{certificateId,jdbcType=VARCHAR},
      </if>
      <if test="currencyId != null">
        #{currencyId,jdbcType=VARCHAR},
      </if>
      <if test="settlementId != null">
        #{settlementId,jdbcType=VARCHAR},
      </if>
      <if test="payId != null">
        #{payId,jdbcType=VARCHAR},
      </if>
      <if test="number != null">
        #{number,jdbcType=VARCHAR},
      </if>
      <if test="syncStatus != null">
        #{syncStatus,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.kingdee.eas.hrp.sms.model.SupplierExample" resultType="java.lang.Long">
    select count(*) from t_sms_supplier
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_sms_supplier
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        [name] = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.taxId != null">
        taxId = #{record.taxId,jdbcType=VARCHAR},
      </if>
      <if test="record.CORP != null">
        CORP = #{record.CORP,jdbcType=VARCHAR},
      </if>
      <if test="record.BRNO != null">
        BRNO = #{record.BRNO,jdbcType=VARCHAR},
      </if>
      <if test="record.taxCategoryId != null">
        taxCategoryId = #{record.taxCategoryId,jdbcType=VARCHAR},
      </if>
      <if test="record.taxRate != null">
        taxRate = #{record.taxRate,jdbcType=DECIMAL},
      </if>
      <if test="record.country != null">
        country = #{record.country,jdbcType=VARCHAR},
      </if>
      <if test="record.city != null">
        city = #{record.city,jdbcType=VARCHAR},
      </if>
      <if test="record.province != null">
        province = #{record.province,jdbcType=VARCHAR},
      </if>
      <if test="record.county != null">
        county = #{record.county,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null">
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.industryId != null">
        industryId = #{record.industryId,jdbcType=VARCHAR},
      </if>
      <if test="record.categoryId != null">
        categoryId = #{record.categoryId,jdbcType=VARCHAR},
      </if>
      <if test="record.createOrganization != null">
        createOrganization = #{record.createOrganization,jdbcType=VARCHAR},
      </if>
      <if test="record.banOrganization != null">
        banOrganization = #{record.banOrganization,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        [status] = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.certificateId != null">
        certificateId = #{record.certificateId,jdbcType=VARCHAR},
      </if>
      <if test="record.currencyId != null">
        currencyId = #{record.currencyId,jdbcType=VARCHAR},
      </if>
      <if test="record.settlementId != null">
        settlementId = #{record.settlementId,jdbcType=VARCHAR},
      </if>
      <if test="record.payId != null">
        payId = #{record.payId,jdbcType=VARCHAR},
      </if>
      <if test="record.number != null">
        [number] = #{record.number,jdbcType=VARCHAR},
      </if>
      <if test="record.syncStatus != null">
        syncStatus = #{record.syncStatus,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_sms_supplier
    set id = #{record.id,jdbcType=VARCHAR},
      [name] = #{record.name,jdbcType=VARCHAR},
      taxId = #{record.taxId,jdbcType=VARCHAR},
      CORP = #{record.CORP,jdbcType=VARCHAR},
      BRNO = #{record.BRNO,jdbcType=VARCHAR},
      taxCategoryId = #{record.taxCategoryId,jdbcType=VARCHAR},
      taxRate = #{record.taxRate,jdbcType=DECIMAL},
      country = #{record.country,jdbcType=VARCHAR},
      city = #{record.city,jdbcType=VARCHAR},
      province = #{record.province,jdbcType=VARCHAR},
      county = #{record.county,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      industryId = #{record.industryId,jdbcType=VARCHAR},
      categoryId = #{record.categoryId,jdbcType=VARCHAR},
      createOrganization = #{record.createOrganization,jdbcType=VARCHAR},
      banOrganization = #{record.banOrganization,jdbcType=VARCHAR},
      [status] = #{record.status,jdbcType=VARCHAR},
      certificateId = #{record.certificateId,jdbcType=VARCHAR},
      currencyId = #{record.currencyId,jdbcType=VARCHAR},
      settlementId = #{record.settlementId,jdbcType=VARCHAR},
      payId = #{record.payId,jdbcType=VARCHAR},
      [number] = #{record.number,jdbcType=VARCHAR},
      syncStatus = #{record.syncStatus,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.kingdee.eas.hrp.sms.model.Supplier">
    update t_sms_supplier
    <set>
      <if test="name != null">
        [name] = #{name,jdbcType=VARCHAR},
      </if>
      <if test="taxId != null">
        taxId = #{taxId,jdbcType=VARCHAR},
      </if>
      <if test="CORP != null">
        CORP = #{CORP,jdbcType=VARCHAR},
      </if>
      <if test="BRNO != null">
        BRNO = #{BRNO,jdbcType=VARCHAR},
      </if>
      <if test="taxCategoryId != null">
        taxCategoryId = #{taxCategoryId,jdbcType=VARCHAR},
      </if>
      <if test="taxRate != null">
        taxRate = #{taxRate,jdbcType=DECIMAL},
      </if>
      <if test="country != null">
        country = #{country,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="county != null">
        county = #{county,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="industryId != null">
        industryId = #{industryId,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null">
        categoryId = #{categoryId,jdbcType=VARCHAR},
      </if>
      <if test="createOrganization != null">
        createOrganization = #{createOrganization,jdbcType=VARCHAR},
      </if>
      <if test="banOrganization != null">
        banOrganization = #{banOrganization,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        [status] = #{status,jdbcType=VARCHAR},
      </if>
      <if test="certificateId != null">
        certificateId = #{certificateId,jdbcType=VARCHAR},
      </if>
      <if test="currencyId != null">
        currencyId = #{currencyId,jdbcType=VARCHAR},
      </if>
      <if test="settlementId != null">
        settlementId = #{settlementId,jdbcType=VARCHAR},
      </if>
      <if test="payId != null">
        payId = #{payId,jdbcType=VARCHAR},
      </if>
      <if test="number != null">
        [number] = #{number,jdbcType=VARCHAR},
      </if>
      <if test="syncStatus != null">
        syncStatus = #{syncStatus,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kingdee.eas.hrp.sms.model.Supplier">
    update t_sms_supplier
    set [name] = #{name,jdbcType=VARCHAR},
      taxId = #{taxId,jdbcType=VARCHAR},
      CORP = #{CORP,jdbcType=VARCHAR},
      BRNO = #{BRNO,jdbcType=VARCHAR},
      taxCategoryId = #{taxCategoryId,jdbcType=VARCHAR},
      taxRate = #{taxRate,jdbcType=DECIMAL},
      country = #{country,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      county = #{county,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      industryId = #{industryId,jdbcType=VARCHAR},
      categoryId = #{categoryId,jdbcType=VARCHAR},
      createOrganization = #{createOrganization,jdbcType=VARCHAR},
      banOrganization = #{banOrganization,jdbcType=VARCHAR},
      [status] = #{status,jdbcType=VARCHAR},
      certificateId = #{certificateId,jdbcType=VARCHAR},
      currencyId = #{currencyId,jdbcType=VARCHAR},
      settlementId = #{settlementId,jdbcType=VARCHAR},
      payId = #{payId,jdbcType=VARCHAR},
      [number] = #{number,jdbcType=VARCHAR},
      syncStatus = #{syncStatus,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>